.titulo5{
    @extend .portada; 
    color: $portada5;
}

#equipo {
    margin: 70px;
    width: 100%;

    .team {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 10%;
            box-shadow: 0 0 20px $color-third;

            &:hover {
                filter: saturate(180%);
            }
        }
    }

    #use {
        color: $color-primary;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 2px $color-primary;
    }

    p {
        @include textos (20px, 500, center, 'Times New Roman');
        background-color: rgba(156, 185, 26, 0.596);
        border-radius: 5%;
        color: $color-primary;
    }
}

@media (max-width:600px) {
    #equipo {
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .team {
        img {
            margin: 1.2rem;
        }
    }

}