.titulo1{
    @extend .portada; 
    color: $portada1;
} 

.titulo2{
    @extend .portada; 
    color: $portada2;
}

.card {
    margin: auto;
    margin-top: 1rem;
    width: 300px;
    height: 550px;

    .img-container {
        position: relative;
        width: 300px;
        height: 500px;

        &:hover {
            img {
                opacity: 0.2;
            }

            .overlay {
                opacity: 1;
            }
        }

        .image {
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .overlay {
            transition: .5 ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    h6{
        font-style: italic;
        font-size: 1.2em;
    }

    #precio1 {
        font-size: 1em;
        text-decoration: line-through; 
        font-style: normal;
    }

    #precio2 { 
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
    }
}

.pags{
    display: flex;
    justify-content: center; 

    .btn{
        margin: 17px;

        &:hover{
            transition: 0.75s;
            font-size: 13px;
        }
    } 

    
}