//Variables/ 
$color-primary: #000000;
$color-secondary: rgb(255, 255, 255);
$color-third: #333; 
$color-fourth:rgb(28, 28, 124);
$color-fifty: #0e141a; 

//Variables de portadas 
$portada1: rgb(94, 4, 4);
$portada2: rgb(6, 6, 134);
$portada3: rgb(116, 7, 116);
$portada4: rgb(13, 97, 6);
$portada5: rgb(112, 112, 11);