@import "variables";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .portada {
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 2px;
        margin: 1.5rem;
    }

    .carru {
        margin-bottom: 30px;

        img {
            @media (min-width:1200px) {
                height: 400px;
            }
        }
    }
}

//Mixin
@mixin textos ($dimension, $grosor, $alineacion, $fuente) {
    font-size: $dimension;
    font-weight: $grosor;
    text-align: $alineacion; 
    font-family: $fuente;
} 

@import "nav";
@import "ropa";
@import "equipo";
@import "talles";
@import "mayorista";
@import "us";
@import "footer";